
.hide {
 display:none
}

.show {
 display:block
}


.drawarea {
   position:absolute; 
}

.drawarea-margin {
   top:30px; 
   bottom:30px;
   left:30px;
   right:30px;
}

.drawarea-nomargin {
   top:0px; 
   bottom:0px;
   left:0px;
   right:0px;
}


html {
	display: flex;
	justify-content: center;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 16px;
	color: var(--main);
}

.icon {
  width:48px;
  height:30px;  
  fill:gray;
}

.icon:hover {
  fill:white;	
}

.player{
   position:absolute; 
   top:70px; 
   bottom:40px;
   left:40px;
   right:40px;
   background: #000000;
}

.player:fullscreen {
	padding-bottom: 100vh;
}
.player:-webkit-full-screen {
	padding-bottom: 100vh;
}
.player:-moz-full-screen {
	padding-bottom: 100vh;
}
.player:-ms-fullscreen  {
	padding-bottom: 100vh;
}

.controls-autohide {
	padding: 0;
	position: absolute;
	bottom: 0px;
	width: 50%;
	height: 48px;
	box-sizing: border-box;
	background: black;
	opacity: 0;
	transition: all 0.2s ease-in 5s;
}
.controls-autohide:hover {
	opacity: 1;
	transition: all 0.2s ease-out;
}

.controls {
	padding: 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	background: black;
	opacity: 1;
}

.upcontrols {
	padding: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	background: black;
	opacity: 1;
}


.time {
	position: absolute;
	right: 30px;
	bottom: 100%;
	padding-bottom: 14px;
}
.progress {
	height: 8px;
	width: calc(100% - 40px);
	background: rgba(60, 60, 60, 0.6);
	margin: auto;
	border-radius: 6px;
	position: absolute;
	left: 20px;
	bottom: 120%;
	transition: height 0.1s ease-in-out;
}
.progress:hover {
	height: 10px;
}
.progress-filled {
	background: var(--accent);
	width: 0%;
	height: 100%;
	border-radius: 6px;
	transition: all 0.1s; 
}

.controls-main {
	width: 100%;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.upcontrols-main {
	width: 100%;
	margin: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.controls-center {
	align-items: center;
	display: flex;
    justify-content: space-between;
}

.upcontrols-center {
	align-items: center;
	display: flex;
    justify-content: space-between;
}

.controls-left,
.controls-right {
	flex: 1;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.controls-left {
	margin-left: 10px;
}
.controls-right {
	margin-right: 10px;
	justify-content: flex-end;
}

.upcontrols-left,
.upcontrols-right {
	flex: 1;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.upcontrols-left {
	margin-left: 10px;
}
.upcontrols-right {
	margin-right: 10px;
	justify-content: flex-end;
}
