
.popup-about {
position:absolute; 
top:80px; 
left:80px; 
right:80px; 
bottom:80px; 
background-color:#333333;
color:#BBBBBB; 
border:2px solid black; 
border-radius: 10px;
padding:50px; 
z-index:2000; 
overflow: auto;
opacity: 0.7;
font-size: 16px;
}

.popup-about a {
color: white;	
}

.hide {
 display:none
}

.show {
 display:block
}

.icon {
  width:40px;
  height:25px;  
}

.gray .icon {
  fill: gray;
}

.gray .icon:hover {
  fill:white;	
}

.blue .icon {
  fill: #0ebcf7; 
}

.blue .icon:hover {
  fill:#8BFFFF;	
}



.drawarea {
   position:absolute; 
}

.drawarea-margin {
   top:30px; 
   bottom:30px;
   left:30px;
   right:30px;
}

.drawarea-nomargin {
   top:0px; 
   bottom:0px;
   left:0px;
   right:0px;
}

.brand-title {
  white-space:nowrap;
  color:#0ebcf7; 
  margin:20px; 
  font-size:20px;  
}

.slide-title {
  white-space:nowrap;
  color:gray; 
  margin:20px; 
  font-size:20px;  
}


.player{
   position:absolute; 
   top:70px; 
   bottom:40px;
   left:40px;
   right:40px;
   background: #000000;
}

.player:fullscreen {
	padding-bottom: 100vh;
}
.player:-webkit-full-screen {
	padding-bottom: 100vh;
}
.player:-moz-full-screen {
	padding-bottom: 100vh;
}
.player:-ms-fullscreen  {
	padding-bottom: 100vh;
}


.time {
	position: absolute;
	right: 30px;
	bottom: 100%;
	padding-bottom: 14px;
}
.progress {
	height: 8px;
	width: calc(100% - 40px);
	background: rgba(60, 60, 60, 0.6);
	margin: auto;
	border-radius: 6px;
	position: absolute;
	left: 20px;
	bottom: 120%;
	transition: height 0.1s ease-in-out;
}
.progress:hover {
	height: 10px;
}
.progress-filled {
	background: var(--accent);
	width: 0%;
	height: 100%;
	border-radius: 6px;
	transition: all 0.1s; 
}


.autohide {
  opacity: 0;
  transition: all 0.2s ease-in 5s;
}

.autohide:hover {
	opacity: 1;
	transition: all 0.2s ease-out;
}

.controls {
	padding: 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background: black;
}

.upcontrols {
	padding: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background: black;
}

.controls-main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.controls-center {
	display: flex; 
	align-items: center;
    justify-content: space-between; 
	overflow: hidden; 
}

.controls-left {
	display: flex;
	align-items: center;
	margin-left: 10px;
	overflow: hidden; 
	justify-content: flex-start; 
}
.controls-right {
	display: flex;
	align-items: center;
	margin-right: 10px;
	justify-content: flex-end; 
}
