#webgl {
  position:absolute; 
  width:100%;
  height:100%;
}

.popup-about {
position:absolute; 
top:80px; 
left:80px; 
right:80px; 
bottom:80px; 
background-color:#333333;
color:#BBBBBB; 
border:2px solid black; 
border-radius: 10px;
padding:50px; 
z-index:2000; 
overflow: auto;
opacity: 0.7;
font-size: 16px;
}

.popup-about a {
color: white;	
}

.hide {
 display:none
}

.show {
 display:block
}

.icon {
  width:40px;
  height:25px;  
}

.gray .icon {
  fill: gray;
}

.gray .icon:hover {
  fill:white;	
}

.blue .icon {
  fill: #0ebcf7; 
}

.blue .icon:hover {
  fill:#8BFFFF;	
}

.red .icon {
  fill: #E30F00;
}

.red .icon:hover {
  fill: #F96152;	
}


.drawarea {
   position:absolute; 
}


.drawZone {
  width:100%;
  height:100%;
}

	
.mono .full {
  display:block;
}
	
.mono .half {
  display:none;
	}
	
.cross-eye .full {
  display:block;
}

.cross-eye .half {
  display:none;
}

.side-by-side .full {
	  display:none;
	}

.side-by-side .half {
	  display:block;
}


.drawarea-margin {
   top:30px; 
   bottom:30px;
   left:30px;
   right:30px;
}

.drawarea-nomargin {
   top:0px; 
   bottom:0px;
   left:0px;
   right:0px;
}

.brand-title {
  white-space:nowrap;
  color:#0ebcf7; 
  margin:20px; 
  font-size:20px;  
}

.slide-title {
  white-space:nowrap;
  color:gray; 
  margin:20px; 
  font-size:20px;  
}


.player{
   position:absolute; 
   top:70px; 
   bottom:40px;
   left:40px;
   right:40px;
   background: #000000;
}

.player:fullscreen {
	padding-bottom: 100vh;
}
.player:-webkit-full-screen {
	padding-bottom: 100vh;
}
.player:-moz-full-screen {
	padding-bottom: 100vh;
}
.player:-ms-fullscreen  {
	padding-bottom: 100vh;
}


.time {
	position: absolute;
	right: 30px;
	bottom: 100%;
	padding-bottom: 14px;
}
.progress {
	height: 8px;
	width: calc(100% - 40px);
	background: rgba(60, 60, 60, 0.6);
	margin: auto;
	border-radius: 6px;
	position: absolute;
	left: 20px;
	bottom: 120%;
	transition: height 0.1s ease-in-out;
}
.progress:hover {
	height: 10px;
}
.progress-filled {
	background: var(--accent);
	width: 0%;
	height: 100%;
	border-radius: 6px;
	transition: all 0.1s; 
}

.autohide-off {
  opacity: 1;
}

.autohide-on {
  opacity: 0;
  transition: all 0.2s ease-in 5s;
}

.autohide-on:hover {
	opacity: 1;
	transition: all 0.2s ease-out;
}


.controls-bottom {
	padding: 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background: black;
}

.controls-top {
	padding: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background: black;
}

.controls-main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.controls-center {
	display: flex; 
	align-items: center;
    justify-content: space-between; 
	overflow: hidden; 
}

.controls-left {
	display: flex;
	align-items: center;
	margin-left: 10px;
	overflow: hidden; 
	justify-content: flex-start; 
}
.controls-right {
	display: flex;
	align-items: center;
	margin-right: 10px;
	justify-content: flex-end; 
}

	
	body {
	  overflow:hidden;
      background-color: #ffffff;
      color: #000000;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
    }
	

	
	.play-on img.icon-play-on {
	   display:block;
	}
	
	.play-on img.icon-play-off {
	   display:none;
	}

	.play-off  img.icon-play-off {
	   display:block;
	}
	
	.play-off  img.icon-play-on {
	   display:none;
	}

	.info-on img.icon-info-on {
	   display:block;
	}
	
	.info-on img.icon-info-off {
	   display:none;
	}

	.info-off  img.icon-info-off {
	   display:block;
	}
	
	.info-off  img.icon-info-on {
	   display:none;
	}
	
	.info-on  .info {
	   display:block
	}
	
	.info-off  .info {
	   display:none
	}
	
	.mono-layout {
 	  position:absolute; 
      left:0px;
	  width:100%;
/*	  height:100%; */
	}
	
	.left-layout {
	  position:absolute; 
      left:0px;
	  width:50%;
/*	  height:100%; */
	}
	
	.right-layout {
      position:absolute; 
	  right:0px;
	  width:50%;
/*	  height:100%; */
	}
	
  	.full .info {
	  position:absolute; 
	  top:40px; 
	  left:10px; 
	  right:450px;
	  color:#000;
	  font-size:13px;
	  font-weight: bold;
	}
	
  	.half .info {
	  position:absolute; 
	  top:40px; 
	  left:10px; 
	  right:250px;
	  color:#000;
	  font-size:13px;
	  font-stretch:ultra-condensed;
	}

	.full .toolbar {
	   position:absolute; 
	   top:50px; 
	   right:10px; 
	   background-color:gray; 
	   text-align:center; 
	   border-radius:8px;
    }

	.half .toolbar {
	   position:absolute; 
	   top:50px; 
	   right:5px; 
	   background-color:gray; 
	   text-align:center; 
	   border-radius:8px;
    }
    

	.full .toolbar td { 
     vertical-align:middle; 
     text-align:center;	 
      width: 35px; 
	  height:35px; 
	}
	
	.full .toolbar  img 
	{ width:30px;
      height:30px;	 
	  }
	  
	.full .toolbar .frame-counter {
	  font-size:15px; 
	  color:white; 
	  font-weight:bold;
	} 
	
	.full .toolbar .toolbar-space {
	  width:15px;
	}

	.full .toolbar .toolbar-counter {
	  width:50px;
	}
				
	.half .toolbar td { 
      vertical-align:middle; 
      text-align:center;	 
      width: 17px; 
	  height:35px; 
	}
	
	.half .toolbar  img 
	{ width:15px;
      height:30px;	 
	  }
	  
	.half .toolbar .frame-counter {
	  font-size:15px; 
	  color:white; 
	  font-weight:normal;
	  font-stretch:ultra-condensed;
	} 
	
	.half .toolbar .toolbar-space {
	  width:7px;
	}

	.half .toolbar .toolbar-counter {
	  width:40px;
	}

/* for Label command */
	.label {
  	  text-shadow: -1px 1px 1px rgb(80,80,80);
	  margin-left: 0px;
	  font-size: 35px;
			}
			
	.side-by-side .label {
	  font-stretch:ultra-condensed;
	}

